{{ ansible_managed|comment }}
### Welcome to the InfluxDB configuration file.

# Once every 24 hours InfluxDB will report usage data to usage.influxdata.com
# The data includes a random ID, os, arch, version, the number of series and other
# usage data. No data from user databases is ever transmitted.
# Change this option to true to disable reporting.
reporting-disabled = {{ influxdb_config__global__reporting_disabled|lower }}

# we'll try to get the hostname automatically, but if it the os returns something
# that isn't resolvable by other servers in the cluster, use this option to
# manually set the hostname
{% if influxdb_config__global__hostname %}hostname = "{{ influxdb_config__global__hostname }}"{% else %}# hostname = "localhost"{% endif %}

###
### [meta]
###
### Controls the parameters for the Raft consensus group that stores metadata
### about the InfluxDB cluster.
###

[meta]
  # Where the metadata/raft database is stored
  dir                  = "{{ influxdb_config__meta__dir }}"

  retention-autocreate = {{ influxdb_config__meta__retention_autocreate|lower }}

  # If log messages are printed for the meta service
  logging-enabled      = {{ influxdb_config__meta__logging_enabled|lower }}
  pprof-enabled        = {{ influxdb_config__meta__pprof_enabled|lower }}

  # The default duration for leases.
  lease-duration       = "{{ influxdb_config__meta__lease_duration }}"

###
### [data]
###
### Controls where the actual shard data for InfluxDB lives and how it is
### flushed from the WAL. "dir" may need to be changed to a suitable place
### for your system, but the WAL settings are an advanced configuration. The
### defaults should work for most systems.
###

[data]
  # Controls if this node holds time series data shards in the cluster
  enabled                            = {{ influxdb_config__data__enabled|lower }}

  dir                                = "{{ influxdb_config__data__dir }}"

  # These are the WAL settings for the storage engine >= 0.9.3
  wal-dir                            = "{{ influxdb_config__data__wal_dir }}"
  wal-logging-enabled                = {{ influxdb_config__data__wal_logging_enabled|lower }}

  # Trace logging provides more verbose output around the tsm engine. Turning
  # this on can provide more useful output for debugging tsm engine issues.
  trace-logging-enabled              = {{ influxdb_config__data__trace_logging_enabled|lower }}

  # Whether queries should be logged before execution. Very useful for troubleshooting, but will
  # log any sensitive data contained within a query.
  query-log-enabled                  = {{ influxdb_config__data__query_log_enabled|lower }}

  # Settings for the TSM engine

  # CacheMaxMemorySize is the maximum size a shard's cache can
  # reach before it starts rejecting writes.
  cache-max-memory-size              = {{ influxdb_config__data__cache_max_memory_size }}

  # CacheSnapshotMemorySize is the size at which the engine will
  # snapshot the cache and write it to a TSM file, freeing up memory
  cache-snapshot-memory-size         = {{ influxdb_config__data__cache_snapshot_memory_size }}

  # CacheSnapshotWriteColdDuration is the length of time at
  # which the engine will snapshot the cache and write it to
  # a new TSM file if the shard hasn't received writes or deletes
  cache-snapshot-write-cold-duration = "{{ influxdb_config__data__cache_snapshot_write_cold_duration }}"

  # MinCompactionFileCount is the minimum number of TSM files
  # that need to exist before a compaction cycle will run
  compact-min-file-count             = {{ influxdb_config__data__compact_min_file_count }}

  # CompactFullWriteColdDuration is the duration at which the engine
  # will compact all TSM files in a shard if it hasn't received a
  # write or delete
  compact-full-write-cold-duration   = "{{ influxdb_config__data__compact_full_write_cold_duration }}"

  # MaxPointsPerBlock is the maximum number of points in an encoded
  # block in a TSM file. Larger numbers may yield better compression
  # but could incur a performance penalty when querying
  max-points-per-block               = {{ influxdb_config__data__max_points_per_block }}

###
### [coordinator]
###
### Controls the clustering service configuration.
###

[coordinator]
  write-timeout          = "{{ influxdb_config__coordinator__write_timeout }}"
  max-concurrent-queries = {{ influxdb_config__coordinator__max_concurrent_queries }}
  query-timeout          = "{{ influxdb_config__coordinator__query_timeout }}"
  log-queries-after      = "{{ influxdb_config__coordinator__log_queries_after }}"
  max-select-point       = {{ influxdb_config__coordinator__max_select_point }}
  max-select-series      = {{ influxdb_config__coordinator__max_select_series }}
  max-select-buckets     = {{ influxdb_config__coordinator__max_select_buckets }}

###
### [retention]
###
### Controls the enforcement of retention policies for evicting old data.
###

[retention]
  enabled        = {{ influxdb_config__retention__enabled|lower }}
  check-interval = "{{ influxdb_config__retention__check_interval }}"

###
### [shard-precreation]
###
### Controls the precreation of shards, so they are available before data arrives.
### Only shards that, after creation, will have both a start- and end-time in the
### future, will ever be created. Shards are never precreated that would be wholly
### or partially in the past.

[shard-precreation]
  enabled        = {{ influxdb_config__shard_precreation__enabled|lower }}
  check-interval = "{{ influxdb_config__shard_precreation__check_interval }}"
  advance-period = "{{ influxdb_config__shard_precreation__advance_period }}"

###
### Controls the system self-monitoring, statistics and diagnostics.
###
### The internal database for monitoring data is created automatically if
### if it does not already exist. The target retention within this database
### is called 'monitor' and is also created with a retention period of 7 days
### and a replication factor of 1, if it does not exist. In all cases the
### this retention policy is configured as the default for the database.

[monitor]
  store-enabled  = {{ influxdb_config__monitor__store_enabled|lower }} # Whether to record statistics internally.
  store-database = "{{ influxdb_config__monitor__store_database }}" # The destination database for recorded statistics
  store-interval = "{{ influxdb_config__monitor__store_interval }}" # The interval at which to record statistics

###
### [admin]
###
### Controls the availability of the built-in, web-based admin interface. If HTTPS is
### enabled for the admin interface, HTTPS must also be enabled on the [http] service.
###

[admin]
  enabled           = {{ influxdb_config__admin__enabled|lower }}
  bind-address      = "{{ influxdb_config__admin__bind_address }}"
  https-enabled     = {{ influxdb_config__admin__https_enabled|lower }}
  https-certificate = "{{ influxdb_config__admin__https_certificate }}"

###
### [http]
###
### Controls how the HTTP endpoints are configured. These are the primary
### mechanism for getting data into and out of InfluxDB.
###

[http]
  enabled           = {{ influxdb_config__http__enabled|lower }}
  bind-address      = "{{ influxdb_config__http__bind_address }}"
  auth-enabled      = {{ influxdb_config__http__auth_enabled|lower }}
  log-enabled       = {{ influxdb_config__http__log_enabled|lower }}
  write-tracing     = {{ influxdb_config__http__write_tracing|lower }}
  pprof-enabled     = {{ influxdb_config__http__pprof_enabled|lower }}
  https-enabled     = {{ influxdb_config__http__https_enabled|lower }}
  https-certificate = "{{ influxdb_config__http__https_certificate }}"
  ### Use a separate private key location.
  {% if influxdb_config__http__https_private_key %}https-private-key = "{{ influxdb_config__http__https_private_key }}"{% else %}# https-private-key = ""{% endif %}
  max-row-limit     = {{ influxdb_config__http__max_row_limit }}
  realm             = "{{ influxdb_config__http__realm }}"

  unix-socket-enabled = {{ influxdb_config__http__unix_socket_enabled|lower }} # enable http service over unix domain socket
  {% if influxdb_config__http__unix_socket_enabled %}bind-socket = "{{ influxdb_config__http__bind_socket }}"{% else %}# bind-socket = "{{ influxdb_config__http__bind_socket }}"{% endif %}

###
### [subscriber]
###
### Controls the subscriptions, which can be used to fork a copy of all data
### received by the InfluxDB host.
###

[subscriber]
  enabled = {{ influxdb_config__subscriber__enabled|lower }}
  http-timeout = "{{ influxdb_config__subscriber__http_timeout }}"
  write-concurrency = {{ influxdb_config__subscriber__write_concurrency }}
  write-buffer-size = {{ influxdb_config__subscriber__write_buffer_size }}

###
### [[graphite]]
###
### Controls one or many listeners for Graphite data.
###

[[graphite]]
  enabled           = {{ influxdb_config__graphite__enabled|lower }}
  database          = "{{ influxdb_config__graphite__database }}"
  bind-address      = "{{ influxdb_config__graphite__bind_address }}"
  protocol          = "{{ influxdb_config__graphite__protocol }}"
  consistency-level = "{{ influxdb_config__graphite__consistency_level }}"

  # These next lines control how batching works. You should have this enabled
  # otherwise you could get dropped metrics or poor performance. Batching
  # will buffer points in memory if you have many coming in.

  batch-size        = {{ influxdb_config__graphite__batch_size }} # will flush if this many points get buffered
  batch-pending     = {{ influxdb_config__graphite__batch_pending }} # number of batches that may be pending in memory
  batch-timeout     = "{{ influxdb_config__graphite__batch_timeout }}" # will flush at least this often even if we haven't hit buffer limit
  udp-read-buffer   = {{ influxdb_config__graphite__udp_read_buffer }} # UDP Read buffer size, 0 means OS default. UDP listener will fail if set above OS max.

  ### This string joins multiple matching 'measurement' values providing more control over the final measurement name.
  separator         = "{{ influxdb_config__graphite__separator }}"
{% if influxdb_config__graphite__tags|length %}
  tags              = ["{{ influxdb_config__graphite__tags|join('", "') }} "]
{% endif %}
{% if influxdb_config__graphite__templates|length %}
  ### Each template line requires a template pattern.  It can have an optional
  ### filter before the template and separated by spaces.  It can also have optional extra
  ### tags following the template.  Multiple tags should be separated by commas and no spaces
  ### similar to the line protocol format.  There can be only one default template.
  templates = [
{% for template in influxdb_config__graphite__templates %}
    "{{ template }}",
{% endfor %}
  ]
{% endif %}

###
### [collectd]
###
### Controls one or many listeners for collectd data.
###

[[collectd]]
  enabled       = {{ influxdb_config__collectd__enabled|lower }}
  bind-address  = "{{ influxdb_config__collectd__bind_address }}"
  database      = "{{ influxdb_config__collectd__database }}"
  typesdb       = "{{ influxdb_config__collectd__typesdb }}"

  # These next lines control how batching works. You should have this enabled
  # otherwise you could get dropped metrics or poor performance. Batching
  # will buffer points in memory if you have many coming in.

  batch-size    = {{ influxdb_config__collectd__batch_size }} # will flush if this many points get buffered
  batch-pending = {{ influxdb_config__collectd__batch_pending }} # number of batches that may be pending in memory
  batch-timeout = "{{ influxdb_config__collectd__batch_timeout }}" # will flush at least this often even if we haven't hit buffer limit
  read-buffer   = {{ influxdb_config__collectd__read_buffer }} # UDP Read buffer size, 0 means OS default. UDP listener will fail if set above OS max.

###
### [opentsdb]
###
### Controls one or many listeners for OpenTSDB data.
###

[[opentsdb]]
  enabled           = {{ influxdb_config__opentsdb__enabled|lower }}
  bind-address      = "{{ influxdb_config__opentsdb__bind_address }}"
  database          = "{{ influxdb_config__opentsdb__database }}"
  retention-policy  = "{{ influxdb_config__opentsdb__retention_policy }}"
  consistency-level = "{{ influxdb_config__opentsdb__consistency_level }}"
  tls-enabled       = {{ influxdb_config__opentsdb__tls_enabled|lower }}
  certificate       = "{{ influxdb_config__opentsdb__certificate }}"
  log-point-errors  = {{ influxdb_config__opentsdb__log_point_errors|lower }} # Log an error for every malformed point.

  # These next lines control how batching works. You should have this enabled
  # otherwise you could get dropped metrics or poor performance. Only points
  # metrics received over the telnet protocol undergo batching.

  batch-size        = {{ influxdb_config__opentsdb__batch_size }} # will flush if this many points get buffered
  batch-pending     = {{ influxdb_config__opentsdb__batch_pending }} # number of batches that may be pending in memory
  batch-timeout     = "{{ influxdb_config__opentsdb__batch_timeout }}" # will flush at least this often even if we haven't hit buffer limit

###
### [[udp]]
###
### Controls the listeners for InfluxDB line protocol data via UDP.
###

[[udp]]
  enabled          = {{ influxdb_config__udp__enabled|lower }}
  bind-address     = "{{ influxdb_config__udp__bind_address }}"
  database         = "{{ influxdb_config__udp__database }}"
  retention-policy = "{{ influxdb_config__udp__retention_policy }}"

  # These next lines control how batching works. You should have this enabled
  # otherwise you could get dropped metrics or poor performance. Batching
  # will buffer points in memory if you have many coming in.

  batch-size       = {{ influxdb_config__udp__batch_size }} # will flush if this many points get buffered
  batch-pending    = {{ influxdb_config__udp__batch_pending }} # number of batches that may be pending in memory
  batch-timeout    = "{{ influxdb_config__udp__batch_timeout }}" # will flush at least this often even if we haven't hit buffer limit
  read-buffer      = {{ influxdb_config__udp__read_buffer }} # UDP Read buffer size, 0 means OS default. UDP listener will fail if set above OS max.

  # set the expected UDP payload size; lower values tend to yield better performance, default is max UDP size 65536
  udp-payload-size = {{ influxdb_config__udp__udp_payload_size }}

###
### [continuous_queries]
###
### Controls how continuous queries are run within InfluxDB.
###

[continuous_queries]
  log-enabled  = {{ influxdb_config__continuous_queries__log_enabled|lower }}
  enabled      = {{ influxdb_config__continuous_queries__enabled|lower }}
  run-interval = "{{ influxdb_config__continuous_queries__run_interval }}" # interval for how often continuous queries will be checked if they need to run
